/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .task-app-bg {
    position: fixed;
    inset: 0;
    background-color: #f7f7f7;
    background-image: radial-gradient(#333232 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: -1;
    font-family: "Caveat", "Patrick Hand", cursive; /* 手書き風フォント */
    overflow: hidden;
  }
  
  body {
    font-family: 'Kosugi Maru', sans-serif;
  }

  .btn.btn-outline-dark {
    background-color: #fff;
    color: #212529;
    border-color: #212529;
    transition: background 0.2s, color 0.2s;
  }
  .btn.btn-outline-dark:hover,
  .btn.btn-outline-dark:focus,
  .btn.btn-outline-dark:active {
    background-color: #212529;
    color: #fff;
    border-color: #212529;
  }